.home-container {
    padding: 20px;
    font-family: sans-serif;
    width: 100vw; 
    margin: 0; 
    box-sizing: border-box; 
    background:white;
}
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.hero {
    background: linear-gradient(to right, #3f87a6, #ebf8e1);
    padding: 60px 20px;
    text-align: center;
}

    .hero h1 {
        font-size: 2.5rem;
        color: #fff;
    }

    .hero p {
        font-size: 1.2rem;
        color: #eee;
    }

.btn-shop {
    display: inline-block;
    margin-top: 20px;
    background-color: #fff;
    color: #3f87a6;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.categories, .featured-products {
    margin-top: 40px;
}

.category-list, .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    margin-top: 15px;
}

.category-card, .product-card {
    padding: 20px;
    background: #ebf8e1;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    color: black;
}
